.hr {
    width: 75%;
    height: 70%;
    border: solid gray 1px;
    border-left: none;
    border-right: none;
    margin: 5%;
    padding: 1%;
    place-items: center;
    place-content: center;

}

.postContainer {
    border: solid red 1px;
    height:100%;
    width: 100%;
    border-radius: 2%;
    cursor: pointer;
    background-color: white;
}

.postContainer:hover {
background-color: rgb(247, 247, 247);
}