#postContainer {
    margin: 1rem auto;
    padding: 0.3rem 1rem;
    width: 90%;
    max-width: 800px;
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
    color: black;
    box-sizing: border-box;
    background-color: rgb(212, 211, 211);
    border-radius: 1.5rem;
}

#postContainer:hover {
  background-color: rgb(199, 207, 214);
}
  
.userInfo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  width: fit-content;
  height: fit-content;
}

.date {
  font-size: 0.8rem;
  color: black;
  margin: 0;
}

#userImage {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

#userName {
  font-size: 0.8rem;
  color: black;
}

#userPost {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
}

#postHeading {
  font-size: 1.25rem;
  margin: 0;
  word-wrap:break-word;
}

.postContent {
  width: 100%;
  border-radius: 1rem;
  object-fit: contain;
  max-height: 400px;
  display: block;
  background-color: black;
}

.commentsButtom {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  background-color: rgb(236, 235, 235);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  border: 1px solid transparent;
  max-width: 60px;
}

.commentsButtom:hover {
  border: 1px solid #FF4500;
}

.commentIcon {
  height: 17px;
  width: 17px;
}

a {
  color: black;
}

a:hover {
  color: black;
}

@media (max-width: 768px) {
  #postContainer {
    grid-template-rows: repeat(1, auto);
    padding: 1rem;
  }

  #postHeading {
    font-size: 1rem;
  }

  .postContent {
    border-radius: 0.75rem;
  }

  .commentsButtom {
    font-size: 0.75rem;
    padding: 0.4rem 0.75rem;
  }
}
