.searchbox {
    width: 15%;
    /* border: solid; */
    /* border-radius: 20px; */
    height: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

input {
    border-radius: 20px;
    border: solid 1px transparent;
    /* outline: 0px; */
    text-overflow: ellipsis;
    width: 100%;
    /* margin: 0; */
    padding: 0 10px 0 10px;
    background-color: rgb(236, 235, 235);
    height: 100%;

    
}

input:hover {
    border: solid #FF4500 1px;

}

input:focus {
    border: solid #FF4500 1px;
    outline: none;    


}