.searchbox {
    width: 15%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

input {
    border-radius: 20px;
    border: solid 1px transparent;
    text-overflow: ellipsis;
    width: 100%;
    padding: 0 0.625rem 0 0.625rem;
    background-color: rgb(236, 235, 235);
    height: 50%;
}

input:hover:focus{
    border: solid #FF4500 1px;
}

input:focus {
    border: solid #FF4500 1px;
    outline: none;
}