#SubID {
    /* border: solid 1px; */
    border-bottom: solid gray 1px;
    height: 100px;
    width: 963px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    z-index: 10;
    position: fixed;
    background-color: white;
    /* margin-bottom: 100px; */
}

#SubImage {
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

#SubredditName {
   font-size: 30px;
   font-weight: 600;
   margin-left: 10px;
}

#spaceholder {
    margin: 0;
    height: 140px;
    width: 100px;
    border: solid transparent ;
}

#box {
    height: 140px;
}

.Subredditlink {
    margin: 0;
    padding: 1%;
    /* margin-top: 5%; */
    /* border: solid gray 1px; */
    border-top: none;
    /* border-right: none; */
    height: 78%;
    width: 945px;
    display: flex;
    align-items: center;
    color: black;
}


.SubredditpostContainer {
    /* border: solid transparent  1px; */
    /* border-left: none; */
    /* border-right: none; */
    height: 99%;
    width: 100%;
    border-radius: 30px;
    cursor: pointer;
    /* background-color: rgb(235, 235, 235); */
background-color: rgb(249, 249, 249);

    /* margin: 1%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.SubredditpostContainer:hover {
    background-color: rgb(245, 245, 245);
    /* border: solid 1px #FF4500; */
    color: black;
}

.SubreddituserInfo {
    /* border: solid 1px blue; */
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin: 1%;
    position: relative;
    right: 290px;
}

#SubreddituserImage {
    height: 30px;
    width: 30px;
    border-radius: 50%;
margin-right: 5px;
margin: 2px;

}

#SubreddituserName {
margin-left: 1px;
margin-right:  2px ;
}

#SubreddituserPost {
    /* border: solid 1px green; */
    height: 92%;
    width: 95%;
    margin-top: 1%;

    
}

#SubredditpostHeading {
    /* border: solid 1px; */
    margin: 0;
    font-size: 20px;
    padding-left: 0.5%;
}

.SubredditpostContent {
    /* height: 89%; */
    width: 100%;
    border-radius: 20px ;
    margin: 0;
    /* border: solid; */
    
}

.SubredditcommentsButtom {
    border: solid transparent 1px;
    height: 4%;
    width: 10%;
    border-radius: 16px;
    background-color: rgb(236, 235, 235); 
    margin-left: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    
}

.SubredditcommentsButtom:hover {
    border: solid #FF4500 1px;

}

.Subredditicons {
    height: 80%;
}

#commentAmount {

}