

nav {
    height: 6%;
    width: 100%;
    border: solid gray 1px;
    border-left:none ;
    border-right:none ;
    margin: 0;
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    background-color: white;
}

.logo {
    color: #FF4500;
    font-size: 1.875rem;
    /* border: solid; */
    height: 50%;
    width: 100%;
    margin: 0;
}


span {
    color: black;
}

.navigation-links {
list-style: none;
display: flex;
justify-content: space-evenly;
/* border: solid; */
margin: 0;
padding: 0;
/* width: 50%; */
height: 50%;
width: 50%;
/* border: #FF4500 solid; */
} 

li {
    border: none;
    background-color: rgb(236, 235, 235);
border-radius: 20px;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
}

li:hover {
    /* border: solid #FF4500 1px; */
}

.navicons {
    height: 90%;
    /* display: none; */
}

.active {
    color: black;
    border: solid #FF4500 1px;
    border-radius: 20px;
cursor: pointer;
height: 100%;
width: 20%;

}

.active:hover {
    color: black;
}

.notActive {
    color: black;
    border: solid transparent 1px;
    border-radius: 20px;
cursor: pointer;
height: 100%;
width: 20%;

}

.notActive:hover {
    color: black;
    border: solid 1px #FF4500;
}

.activeLogo {
    /* border: solid black; */
    width: 15%;
}

.notActiveLogo {
    /* border: solid blue; */
    width: 15%;

}