

nav {
    height: 6%;
    width: 100%;
    border: solid gray 1px;
    margin: 0;
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    color: #FF4500;
    font-size: 1.875rem;
    /* border: solid; */
    height: 50%;
    width: 15%;
}

span {
    color: black;
}

.navigation-links {
list-style: none;
display: flex;
justify-content: space-evenly;
/* border: solid; */
margin: 0;
padding: 0;
width: 50%;
height: 50%;
/* border: #FF4500 solid; */

} 

li {
    border: none;
    /* margin: 5px; */
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(236, 235, 235);
border-radius: 20px;
/* border-width: 0px; */
cursor: pointer;
display: flex;
justify-content: space-betw;
align-items: center;
height: 100%;
}

li:hover {
    /* border: solid #FF4500 1px; */
}

.navicons {
    height: 90%;
}

.active {
    color: black;
    border: solid #FF4500 1px;
    border-radius: 20px;
cursor: pointer;
display: flex;
justify-content: space-betw;
align-items: center;
height: 100%;
}

.active:hover {
    color: black;
}

.notActive {
    color: black;
    border: solid transparent 1px;
    border-radius: 20px;
cursor: pointer;
display: flex;
justify-content: space-betw;
align-items: center;
height: 100%;
}

.notActive:hover {
    color: black;
    border: solid 1px #FF4500;
}