#commentContainer {
    margin: 1rem auto;
    padding: 0.3rem 1rem;
    width: 90%;
    max-width: 800px;
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
    color: black;
    box-sizing: border-box;
    background-color: rgb(212, 211, 211);
    border-radius: 1.5rem;
}

#userInfo {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.3rem;
    max-width: 160px;
}

#userImage {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

#userName {
    font-size: 0.8rem;
    color: black;
}

#userPost {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.5rem;
}

#postHeading {
    font-size: 1.25rem;
    margin: 0;
    word-wrap:break-word;
}

.postContent {
    width: 100%;
    border-radius: 1rem;
    object-fit: contain;
    max-height: 400px;
    display: block;
    background-color: black;
}

.commentsButtom {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(236, 235, 235);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.875rem;
    cursor: pointer;
    border: 1px solid transparent;
    max-width: 50px;
}

.commentsButtom:hover {
    border: solid #FF4500 0.063rem;
}

.icons {
    height: 1rem;
}

#commentList {
 width: 90%;
 margin-top: 2.25rem;
 margin-bottom: 2.25rem;
 display: grid;
 grid-template-columns: 1fr; 
 max-width: 700px;
 box-sizing: border-box;
gap: 1rem;
}

#userComment {
    border-radius: 20px;
    max-width: fit-content;
    background-color: rgb(230, 230, 230);
    padding: 0.5rem;
    overflow-wrap: break-word;
}

#userInfoComment {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

#userImageComment {
    height: 1.875rem;
    width: 1.875rem;
    border-radius: 6.25rem;
    margin-right: 0.313rem;
}

#userNameComment {
    margin-left: 0.063rem;
    margin-right: 0.125rem;
    font-size: 1rem;
}

#commentContent {
    margin-left: 1rem;
    font-size: 1rem;
}

#replies {
    border-bottom-left-radius: 20px;
    max-width: fit-content;
    padding: 0.5rem;
    overflow-wrap: break-word;
    border-bottom: solid 1px;
    border-left: solid 1px;
}

#userInfoReplies {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

#userImageReplies {
    height: 1.875rem;
    width: 1.875rem;
    border-radius: 6.25rem;
    margin-right: 0.313rem;
}

#userNameReplies {
    margin-left: 0.063rem;
    margin-right: 0.125rem;
    font-size: 1rem;
}

#repliesContent {
    margin-left: 1rem;
    font-size: 1rem;
}


@media (max-width: 768px) {
    #commentContainer {
      grid-template-rows: repeat(1, auto);
      padding: 1rem;
    }
  
    #postHeading {
      font-size: 1rem;
    }
  
    .postContent {
      border-radius: 0.75rem;
    }
  
    .commentsButtom {
      font-size: 0.75rem;
      padding: 0.4rem 0.75rem;
    }

    #commentContent {
      font-size: 0.75rem;
    }
  }
  